root {
    --Background: rgba(22, 22, 33, 1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    height: 100vh;
    background: linear-gradient(48.09deg, rgba(19.87, 69.94, 198.69, 1), rgba(96.95, 134.96, 232.69, 1) 100%);
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 424px;
    height: 593px;
    padding: 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
}

h1,
h2 {
    margin: 5px;
    font-family: "Roboto";
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: rgba(0, 119, 238, 1);
}

h2 {
    font-size: 26px;
    color: rgb(0, 0, 0);
}

p {
    margin: 5px;
    color: rgb(66, 124, 182);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
}

li {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#change-due {
    height: 100px;
    min-width: 100px;
    margin: 15px;
    /* background-color: red; */
}

#price-screen {
    margin: 15px;
}

#cash {
    width: 296px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgba(166, 188, 218, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
}

#purchase-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 16px;
    gap: 10;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 21px 10px 21px;
    color: rgba(255, 255, 255, 1);
    width: 296px;
    height: 30px;
    border: 0;
    outline: none;
    border-radius: 4px;
    background: rgba(0, 119, 238, 1);
}