body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* color: white; */
    background: #d1d1d1;
    ;
}

#input-container {

    width: 457px;
    height: 518px;
    /* background: #444444; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;


    /* font-weight: <weight>;
    font-style: normal; */
}

#convert-btn {}

#number {
    /* Input */
    width: 80%;
    height: 20px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    margin: 12px;
    /* border-radius: 5px; */
    outline: none;
    /* border: 1px solid #959595; */
    border: none;
    border-radius: 7px;
    background: rgba(248, 241, 255, 1);
}