body {
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#input-container {
    width: 200px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

h1 {
    text-align: center;
}