* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* color: white; */
    background: #eeeeee;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 20px 0;
    margin: 0;
}

#input-container,
#error-message {
    width: 45%;
    max-width: 450px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 18px auto;
    padding: 18px 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
}

#input-container {
    min-height: 250px;
}


h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(152, 90, 206, 1);
}

#input-container p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0;
    margin: 0;
}

#convert-btn {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /* width: 365.6px; */
    width: 80%;
    height: 40px;
    border-radius: 7px;
    color: white;
    border: none;
    background: rgba(152, 90, 206, 1);
    box-sizing: border-box;
    cursor: pointer;
}

#error-message {
    display: none;
    justify-content: center;
    align-items: center;
}

#number {
    /* Input */
    /* width: 365.6px; */
    width: 80%;
    height: 40px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    margin: 12px;
    outline: none;
    border: none;
    border-radius: 7px;
    background: rgba(248, 241, 255, 1);
}

#output {
    border: 1px solid rgba(250, 67, 67, 0.61);
    border-radius: 15px;
    padding: 15px;
    width: auto;
    max-width: 80%;
    height: auto;
    font-family: "Inter", sans-serif;
    color: rgb(255, 23, 23);
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(255, 225, 225);
}

@media screen and (max-width: 375px) {

    #input-container,
    #error-message {
        width: 70%;
    }
}