body {
    display: flex;
    justify-content: center;
    align-items: start;
    /* background: #161621; */
    background-image: linear-gradient(45deg, #161621, #0a0a0f);
    padding: 0;
    margin: 0;
    height: 100vh;
}

h1 {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
}

td,
th {
    font-family: "Lato", sans-serif;
    height: 14px;
    color: white;
    background: rgba(247, 67, 70, 1);
    padding: 10px;
    margin: 10px;
    min-width: 150px
}

#search-button {
    font-family: "Lato", sans-serif;
    background: rgba(247, 67, 70, 1);
    outline: none;
    border: 0;
    color: white;
    width: 100px;
    height: 33px;
    font-size: 16px;
}

#search-input {
    font-family: "Lato", sans-serif;
    padding-left: 5px;
    font-size: 16px;
    height: 30px;
    outline: none;
    border: 0;
    width: 230px;
}

#name-id,
#special-name {
    font-family: "Lato", sans-serif;
    height: 14px;
    color: white;
    /* display: inline; */
    font-size: 18px;
    margin: 15px 0;
}


#body-stats,
#special-description {
    font-family: "Lato", sans-serif;
    height: 14px;
    color: rgb(155, 155, 155);
    /* display: inline; */
    font-size: 16px;
    margin: 15px 0;
}


#creature-name,
#creature-id {
    padding: 0;
    margin: 0;
}

p {
    margin: 10px 0;

}

#types p {
    font-family: "Lato", sans-serif;
    color: black;
    text-align: center;
    /* background: orange; */
    padding: 5px;

}

#types {
    /* display: inline; */
    width: 33%;
    min-width: 100px;
    background: orange;
}

table {
    margin-top: 30px;
}